<a href="https://colab.research.google.com/github/AndrewH707/TumorClassification/blob/main/PrimaryTumor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/AndrewH707/BrainTumorDetection/main/primary-tumor.csv'
data = pd.read_csv(url)
print("The size of the data is: ", data.shape)
data.head()

The size of the data is:  (309, 18)

,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal,class
0,>=60,female,NaN,NaN,False,False,False,False,False,True,False,False,False,False,False,False,False,lung
1,>=60,male,NaN,poorly,False,False,False,False,False,True,False,False,False,True,False,True,False,lung
2,30-59,female,adefalse,NaN,False,False,False,True,False,False,False,True,False,False,True,False,False,breast
3,30-59,female,adefalse,NaN,False,False,False,False,True,False,False,False,False,False,False,False,False,ovary
4,30-59,female,adefalse,NaN,False,False,False,True,True,False,False,False,False,False,False,False,False,ovary

# Balanced or Imbalanced target c
lass?

In [3]:
target = data.values[:, -1]
counter  = Counter(target)
for k, v in counter.items():
  per = v/ len(target) *100
  print('Class = %s, Count =%d, Percentage = %.3f%%' % (k, v, per))

Class = lung, Count =81, Percentage = 26.214%
Class = breast, Count =18, Percentage = 5.825%
Class = ovary, Count =19, Percentage = 6.149%
Class = colon, Count =14, Percentage = 4.531%
Class = prostate, Count =8, Percentage = 2.589%
Class = head and neck, Count =14, Percentage = 4.531%
Class = thyroid, Count =14, Percentage = 4.531%
Class = pancreas, Count =28, Percentage = 9.061%
Class = liver, Count =7, Percentage = 2.265%
Class = kidney, Count =23, Percentage = 7.443%
Class = salivary glands, Count =2, Percentage = 0.647%
Class = rectum, Count =6, Percentage = 1.942%
Class = gallbladder, Count =15, Percentage = 4.854%
Class = stomach, Count =38, Percentage = 12.298%
Class = esophagus, Count =9, Percentage = 2.913%
Class = corpus uteri, Count =6, Percentage = 1.942%
Class = testis, Count =1, Percentage = 0.324%
Class = cervix uteri, Count =2, Percentage = 0.647%
Class = duoden and sm.int, Count =1, Percentage = 0.324%
Class = bladder, Count =2, Percentage = 0.647%
Class = vagina, Count =1, Percentage = 0.324%

# Missing Values

In [4]:
print("The total amount of missing values is: ", data.isnull().sum().sum())
# now we'll iterate through the columns..
names = data.columns.to_list()
print(names)
for name in names:
  numna = data[name].isnull().sum().sum() 
  print("Column, ", name, "has ", numna, " missing values")

The total amount of missing values is:  207
['age', 'sex', 'histologic-type', 'degree-of-diffe', 'bone', 'bone-marrow', 'lung', 'pleura', 'peritoneum', 'liver', 'brain', 'skin', 'neck', 'supraclavicular', 'axillar', 'mediastinum', 'abdominal', 'class']
Column,  age has  0  missing values
Column,  sex has  1  missing values
Column,  histologic-type has  65  missing values
Column,  degree-of-diffe has  139  missing values
Column,  bone has  0  missing values
Column,  bone-marrow has  0  missing values
Column,  lung has  0  missing values
Column,  pleura has  0  missing values
Column,  peritoneum has  0  missing values
Column,  liver has  0  missing values
Column,  brain has  0  missing values
Column,  skin has  1  missing values
Column,  neck has  0  missing values
Column,  supraclavicular has  0  missing values
Column,  axillar has  1  missing values
Column,  mediastinum has  0  missing values
Column,  abdominal has  0  missing values
Column,  class has  0  missing values

In [5]:
column = data['degree-of-diffe'].fillna('base') #instead of dropping na, we can fill with a base
data['degree-of-diffe'] = column
data.head()

,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal,class
0,>=60,female,NaN,base,False,False,False,False,False,True,False,False,False,False,False,False,False,lung
1,>=60,male,NaN,poorly,False,False,False,False,False,True,False,False,False,True,False,True,False,lung
2,30-59,female,adefalse,base,False,False,False,True,False,False,False,True,False,False,True,False,False,breast
3,30-59,female,adefalse,base,False,False,False,False,True,False,False,False,False,False,False,False,False,ovary
4,30-59,female,adefalse,base,False,False,False,True,True,False,False,False,False,False,False,False,False,ovary

In [6]:
data = data.dropna()
print("Current Shape of the data: ", data.shape)

Current Shape of the data:  (242, 18)

In [7]:
X, y = data.drop('class', axis = 1), data['class']
X.shape, y.shape #shapes of our inputs and outputs

((242, 17), (242,))

In [8]:
hist = X.columns.get_loc('histologic-type')
deg = X.columns.get_loc('degree-of-diffe')
one_hot = [hist, deg]

In [21]:
data['bone'].replace({True: 1, False: 0}, inplace=True)
data['bone-marrow'].replace({True: 1, False: 0}, inplace=True)
data['lung'].replace({True: 1, False: 0}, inplace=True)
data['pleura'].replace({True: 1, False: 0}, inplace=True)
data['peritoneum'].replace({True: 1, False: 0}, inplace=True)
data['liver'].replace({True: 1, False: 0}, inplace=True)
data['brain'].replace({True: 1, False: 0}, inplace=True)
data['skin'].replace({True: 1, False: 0}, inplace=True)
data['neck'].replace({True: 1, False: 0}, inplace=True)
data['supraclavicular'].replace({True: 1, False: 0}, inplace=True)
data['axillar'].replace({True: 1, False: 0}, inplace=True)
data['mediastinum'].replace({True: 1, False: 0}, inplace=True)
data['abdominal'].replace({True: 1, False: 0}, inplace=True)

In [22]:
data

,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal,class
2,30-59,female,adefalse,base,0,0,0,1,0,0,0,1,0,0,1,0,0,breast
3,30-59,female,adefalse,base,0,0,0,0,1,0,0,0,0,0,0,0,0,ovary
4,30-59,female,adefalse,base,0,0,0,1,1,0,0,0,0,0,0,0,0,ovary
5,30-59,male,adefalse,base,0,0,0,0,0,1,0,0,0,0,0,0,0,colon
6,30-59,male,adefalse,base,1,0,0,0,0,0,0,0,0,0,0,0,0,prostate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,>=60,female,adefalse,base,0,0,1,1,1,0,0,0,0,0,0,0,1,corpus uteri
305,30-59,male,adefalse,well,1,0,0,0,0,0,0,0,1,1,0,1,0,prostate
306,30-59,male,epidermoid,poorly,1,0,0,0,0,0,0,1,0,0,1,0,0,lung
307,30-59,female,adefalse,well,0,0,0,1,1,0,0,0,0,0,0,0,0,ovary
308,30-59,female,adefalse,base,1,0,1,1,1,1,1,0,0,0,0,0,1,gallbladder

In [26]:
count_classes = (data.groupby('class').count()).get('age')

In [27]:
count_classes

class
breast               17
cervix uteri          2
colon                13
corpus uteri          6
duoden and sm.int     1
esophagus             5
gallbladder          14
head and neck        10
kidney               20
liver                 7
lung                 43
ovary                17
pancreas             26
prostate              8
rectum                6
salivary glands       2
stomach              33
testis                1
thyroid              10
vagina                1
Name: age, dtype: int64