<a href="https://colab.research.google.com/github/AndrewH707/TumorClassification/blob/main/PrimaryTumor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd

In [4]:
url = 'https://raw.githubusercontent.com/AndrewH707/BrainTumorDetection/main/primary-tumor.csv'
data = pd.read_csv(url)
print("The size of the data is: ", data.shape)
data.head()

The size of the data is:  (309, 18)

,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal,class
0,>=60,female,NaN,NaN,False,False,False,False,False,True,False,False,False,False,False,False,False,lung
1,>=60,male,NaN,poorly,False,False,False,False,False,True,False,False,False,True,False,True,False,lung
2,30-59,female,adefalse,NaN,False,False,False,True,False,False,False,True,False,False,True,False,False,breast
3,30-59,female,adefalse,NaN,False,False,False,False,True,False,False,False,False,False,False,False,False,ovary
4,30-59,female,adefalse,NaN,False,False,False,True,True,False,False,False,False,False,False,False,False,ovary

# Balanced or Imbalanced target class

In [5]:
target = data.values[:, -1]
counter  = Counter(target)
for k, v in counter.items():
  per = v/ len(target) *100
  print('Class = %s, Count =%d, Percentage = %.3f%%' % (k, v, per))

Class = lung, Count =81, Percentage = 26.214%
Class = breast, Count =18, Percentage = 5.825%
Class = ovary, Count =19, Percentage = 6.149%
Class = colon, Count =14, Percentage = 4.531%
Class = prostate, Count =8, Percentage = 2.589%
Class = head and neck, Count =14, Percentage = 4.531%
Class = thyroid, Count =14, Percentage = 4.531%
Class = pancreas, Count =28, Percentage = 9.061%
Class = liver, Count =7, Percentage = 2.265%
Class = kidney, Count =23, Percentage = 7.443%
Class = salivary glands, Count =2, Percentage = 0.647%
Class = rectum, Count =6, Percentage = 1.942%
Class = gallbladder, Count =15, Percentage = 4.854%
Class = stomach, Count =38, Percentage = 12.298%
Class = esophagus, Count =9, Percentage = 2.913%
Class = corpus uteri, Count =6, Percentage = 1.942%
Class = testis, Count =1, Percentage = 0.324%
Class = cervix uteri, Count =2, Percentage = 0.647%
Class = duoden and sm.int, Count =1, Percentage = 0.324%
Class = bladder, Count =2, Percentage = 0.647%
Class = vagina, Count =1, Percentage = 0.324%

In [6]:
# we'll reduce the number of classes by removing those with counts less than 6
# we can list the above in a list, and iterate through the labels to remove all
# instances

from collections import defaultdict

#list of classes we'll remove
classes_to_remove = ['testis', 'cervix uteri', 'duoden and sm.int', 'bladder', 'vagina', 'salivary glands', 'corpus uteri']

data = data[~data['class'].isin(classes_to_remove)]

#re-do our counter
target = data.values[:, -1]
counter  = Counter(target)
for k, v in counter.items():
  per = v/ len(target) *100
  print('Class = %s, Count =%d, Percentage = %.3f%%' % (k, v, per))

Class = lung, Count =81, Percentage = 27.551%
Class = breast, Count =18, Percentage = 6.122%
Class = ovary, Count =19, Percentage = 6.463%
Class = colon, Count =14, Percentage = 4.762%
Class = prostate, Count =8, Percentage = 2.721%
Class = head and neck, Count =14, Percentage = 4.762%
Class = thyroid, Count =14, Percentage = 4.762%
Class = pancreas, Count =28, Percentage = 9.524%
Class = liver, Count =7, Percentage = 2.381%
Class = kidney, Count =23, Percentage = 7.823%
Class = rectum, Count =6, Percentage = 2.041%
Class = gallbladder, Count =15, Percentage = 5.102%
Class = stomach, Count =38, Percentage = 12.925%
Class = esophagus, Count =9, Percentage = 3.061%

# Missing Values

In [7]:
print("The total amount of missing values is: ", data.isnull().sum().sum())
# now we'll iterate through the columns.
names = data.columns.to_list()
print(names)
for name in names:
  numna = data[name].isnull().sum().sum() 
  print("Column, ", name, "has ", numna, " missing values")

The total amount of missing values is:  197
['age', 'sex', 'histologic-type', 'degree-of-diffe', 'bone', 'bone-marrow', 'lung', 'pleura', 'peritoneum', 'liver', 'brain', 'skin', 'neck', 'supraclavicular', 'axillar', 'mediastinum', 'abdominal', 'class']
Column,  age has  0  missing values
Column,  sex has  1  missing values
Column,  histologic-type has  63  missing values
Column,  degree-of-diffe has  131  missing values
Column,  bone has  0  missing values
Column,  bone-marrow has  0  missing values
Column,  lung has  0  missing values
Column,  pleura has  0  missing values
Column,  peritoneum has  0  missing values
Column,  liver has  0  missing values
Column,  brain has  0  missing values
Column,  skin has  1  missing values
Column,  neck has  0  missing values
Column,  supraclavicular has  0  missing values
Column,  axillar has  1  missing values
Column,  mediastinum has  0  missing values
Column,  abdominal has  0  missing values
Column,  class has  0  missing values

In [8]:
target = data.values[:, 3] #print a count of the number of instances of the 'degree-of-diffe' class
counter  = Counter(target)
for k, v in counter.items():
  per = v/ len(target) *100
  print('Class = %s, Count =%d, Percentage = %.3f%%' % (k, v, per))

Class = nan, Count =131, Percentage = 44.558%
Class = poorly, Count =95, Percentage = 32.313%
Class = fairly, Count =20, Percentage = 6.803%
Class = well, Count =48, Percentage = 16.327%

In [9]:
mode = data['degree-of-diffe'].mode() #mode is 'poorly'
print(type(mode), mode)
data['degree-of-diffe'] = data['degree-of-diffe'].fillna('poorly')
target = data.values[:, 3]
counter  = Counter(target)
for k, v in counter.items():
  per = v/ len(target) *100
  print('Class = %s, Count =%d, Percentage = %.3f%%' % (k, v, per))

<class 'pandas.core.series.Series'> 0    poorly
dtype: object
Class = poorly, Count =226, Percentage = 76.871%
Class = fairly, Count =20, Percentage = 6.803%
Class = well, Count =48, Percentage = 16.327%

In [10]:
data = data.dropna()
print("Current Shape of the data: ", data.shape)
target = data.values[:, -1]
counter  = Counter(target)
for k, v in counter.items():
  per = v/ len(target) *100
  print('Class = %s, Count =%d, Percentage = %.3f%%' % (k, v, per))

Current Shape of the data:  (229, 18)
Class = breast, Count =17, Percentage = 7.424%
Class = ovary, Count =17, Percentage = 7.424%
Class = colon, Count =13, Percentage = 5.677%
Class = prostate, Count =8, Percentage = 3.493%
Class = lung, Count =43, Percentage = 18.777%
Class = head and neck, Count =10, Percentage = 4.367%
Class = pancreas, Count =26, Percentage = 11.354%
Class = liver, Count =7, Percentage = 3.057%
Class = kidney, Count =20, Percentage = 8.734%
Class = rectum, Count =6, Percentage = 2.620%
Class = gallbladder, Count =14, Percentage = 6.114%
Class = stomach, Count =33, Percentage = 14.410%
Class = thyroid, Count =10, Percentage = 4.367%
Class = esophagus, Count =5, Percentage = 2.183%

In [11]:
X, y = data.drop('class', axis = 1), data['class']
print(X.shape, y.shape) #shapes of our inputs and outputs]
X.head()

(229, 17) (229,)

,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal
2,30-59,female,adefalse,poorly,False,False,False,True,False,False,False,True,False,False,True,False,False
3,30-59,female,adefalse,poorly,False,False,False,False,True,False,False,False,False,False,False,False,False
4,30-59,female,adefalse,poorly,False,False,False,True,True,False,False,False,False,False,False,False,False
5,30-59,male,adefalse,poorly,False,False,False,False,False,True,False,False,False,False,False,False,False
6,30-59,male,adefalse,poorly,True,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
# find indicies of True/False Values we want to transform
bools = X.select_dtypes(include = ['bool', 'object']).columns
bools = bools.delete((0, 1, 2, 3)) #delete indicies of columns that aren't in True/False Format
print(bools)

for i in bools:
  temp = X[i].astype(int)
  X[i] = temp

print(X)

Index(['bone', 'bone-marrow', 'lung', 'pleura', 'peritoneum', 'liver', 'brain',
       'skin', 'neck', 'supraclavicular', 'axillar', 'mediastinum',
       'abdominal'],
      dtype='object')
       age     sex histologic-type degree-of-diffe  bone  bone-marrow  lung  \
2    30-59  female        adefalse          poorly     0            0     0
3    30-59  female        adefalse          poorly     0            0     0
4    30-59  female        adefalse          poorly     0            0     0
5    30-59    male        adefalse          poorly     0            0     0
6    30-59    male        adefalse          poorly     1            0     0
..     ...     ...             ...             ...   ...          ...   ...
302  30-59    male        adefalse          poorly     1            0     0
305  30-59    male        adefalse            well     1            0     0
306  30-59    male      epidermoid          poorly     1            0     0
307  30-59  female        adefalse            well     0            0     0
308  30-59  female        adefalse          poorly     1            0     1

     pleura  peritoneum  liver  brain  skin  neck  supraclavicular  axillar  \
2         1           0      0      0     1     0                0        1
3         0           1      0      0     0     0                0        0
4         1           1      0      0     0     0                0        0
5         0           0      1      0     0     0                0        0
6         0           0      0      0     0     0                0        0
..      ...         ...    ...    ...   ...   ...              ...      ...
302       0           0      0      0     0     0                0        0
305       0           0      0      0     0     1                1        0
306       0           0      0      0     1     0                0        1
307       1           1      0      0     0     0                0        0
308       1           1      1      1     0     0                0        0

     mediastinum  abdominal
2              0          0
3              0          0
4              0          0
5              0          0
6              0          0
..           ...        ...
302            1          0
305            1          0
306            0          0
307            0          0
308            0          1

[229 rows x 17 columns]

In [13]:
# ordinal encoding for age, meaning we care about the ordering of the labels
columns = X.columns.to_list()
X = X.to_numpy()
j = 0 #iterate through first column
for i in range(0, X.shape[0], 1):
  if X[i, j] == '<30':
    X[i, j] = 0
  elif X[i, j] == '30-59':
    X[i, j] = 1
  elif X[i, j] == '>=60':
    X[i, j] = 2
  else:
    print('error', i, X[i, j]) #for debugging...
print(X[0:5, :])

[[1 'female' 'adefalse' 'poorly' 0 0 0 1 0 0 0 1 0 0 1 0 0]
 [1 'female' 'adefalse' 'poorly' 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [1 'female' 'adefalse' 'poorly' 0 0 0 1 1 0 0 0 0 0 0 0 0]
 [1 'male' 'adefalse' 'poorly' 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [1 'male' 'adefalse' 'poorly' 1 0 0 0 0 0 0 0 0 0 0 0 0]]

In [14]:
# we'll do a simple 1/0 encoding for male, female, while checking capitalization
j = 1
for i in range(0, X.shape[0], 1):
  if X[i, j].lower() == 'female':
    X[i, j] = 0
  elif X[i, j].lower() == 'male':
    X[i, j] = 1
  else:
    print('error', i, X[i, j])
X = pd.DataFrame(X, columns = columns)
X

,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal
0,1,0,adefalse,poorly,0,0,0,1,0,0,0,1,0,0,1,0,0
1,1,0,adefalse,poorly,0,0,0,0,1,0,0,0,0,0,0,0,0
2,1,0,adefalse,poorly,0,0,0,1,1,0,0,0,0,0,0,0,0
3,1,1,adefalse,poorly,0,0,0,0,0,1,0,0,0,0,0,0,0
4,1,1,adefalse,poorly,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,1,1,adefalse,poorly,1,0,0,0,0,0,0,0,0,0,0,1,0
225,1,1,adefalse,well,1,0,0,0,0,0,0,0,1,1,0,1,0
226,1,1,epidermoid,poorly,1,0,0,0,0,0,0,1,0,0,1,0,0
227,1,0,adefalse,well,0,0,0,1,1,0,0,0,0,0,0,0,0
228,1,0,adefalse,poorly,1,0,1,1,1,1,1,0,0,0,0,0,1

In [15]:
#import our transformsers 
from sklearn.preprocessing import LabelBinarizer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

t = [('one_hot', OneHotEncoder(), [2, 3])]
col_transformer = ColumnTransformer(transformers=t, remainder = 'passthrough')
X = col_transformer.fit_transform(X)
X

array([[1.0, 0.0, 0.0, ..., 1, 0, 0],
       [1.0, 0.0, 0.0, ..., 0, 0, 0],
       [1.0, 0.0, 0.0, ..., 0, 0, 0],
       ...,
       [0.0, 0.0, 1.0, ..., 1, 0, 0],
       [1.0, 0.0, 0.0, ..., 0, 0, 0],
       [1.0, 0.0, 0.0, ..., 0, 0, 1]], dtype=object)

In [16]:
# transform our outputs 
from sklearn.preprocessing import LabelEncoder

y = LabelEncoder().fit_transform(y)
y

array([ 0,  8,  8,  1, 10,  7, 10,  8,  4,  9,  7,  4,  7,  6,  7,  8,  5,
        7,  0, 11,  9,  7,  9, 10,  3,  0,  0,  3, 12, 12,  7, 13,  9,  9,
        9,  9,  8, 12,  3, 13,  0, 12,  2,  0, 11, 12, 10,  7, 13,  0,  9,
        5,  5,  9,  7,  8,  7,  7,  4,  7, 13,  4,  8,  7,  7, 12,  7,  5,
       12,  5,  3, 12, 12,  0, 13, 11,  6,  7, 12,  4,  8,  6,  7, 12, 12,
        0, 12,  4,  9,  7,  8, 12,  0,  8, 12,  0,  5,  0, 11, 12,  2,  2,
       12,  0,  7,  7,  7,  5,  7,  3, 12,  6,  9,  3,  9,  1, 10, 13,  7,
       10,  9,  9,  0,  1,  9,  5, 12,  7, 12,  3,  1,  0,  7,  1,  9,  9,
        5,  1,  7,  8,  7,  5, 12,  9,  5,  7, 10,  3,  5,  6,  1,  1, 12,
        5,  2,  9,  7,  7,  7,  5,  8, 12, 12, 12, 13,  0, 13,  3,  3,  9,
        4,  6,  1,  9, 12, 11, 12,  9,  9,  2,  7,  9, 12,  7,  3,  1, 12,
        9,  4, 11, 12,  1,  7,  5,  7,  8,  0,  5,  7,  5,  5,  7,  7, 13,
        8, 12,  7,  7,  8,  6,  8, 13,  4,  1,  7,  4,  5,  7,  3,  9, 12,
        1, 12,  3,  5, 10,  7,  8,  3])

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
import random

r = random.seed()
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y)

# define the cross valdiator that will be used uniformly across all classifiers
# for each trial
cv = RepeatedKFold(n_splits = 3, n_repeats = 3)

# **Logistic Regression**

In [18]:
# Import library for our grid search
from sklearn.model_selection import GridSearchCV
#Import library for evalating the model 
from sklearn import metrics

In [19]:
from sklearn.linear_model import LogisticRegression

#define model
model = LogisticRegression()
#define search space
space = dict()
space['solver'] = ['newton-cg', 'lbfgs', 'liblinear']
space['penalty'] = ['none', 'l1', 'l2']
space['C'] = [1e-8, 1e-7, 1e-6, 1e-5, 1e-4, 1e-3, 1e-2, 1e-1, 1e0, 1e1, 1e2, 1e3, 1e4]
#define search
search = GridSearchCV(model, space, scoring = 'accuracy', n_jobs = -1, cv= cv)
# execute search
result = search.fit(X_train, y_train)
results = search.return_train_score
# summarize result
print('Best Score: %s' % result.best_score_)
print('Best Hyperparameters: %s' % result.best_params_)
print('Best Estimator: %s' % result.best_estimator_)

Best Score: 0.32943469785575047
Best Hyperparameters: {'C': 1.0, 'penalty': 'l2', 'solver': 'newton-cg'}
Best Estimator: LogisticRegression(solver='newton-cg')

In [20]:
# train on all of taining data and use best hyperparameters to evaluate accuracy 
# on test set
optimalmodel = result.best_estimator_
optimalmodel.fit(X_train, y_train)
y_predict = optimalmodel.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_predict)
print('accuracy on test set: %s' % accuracy)

accuracy on test set: 0.3793103448275862

#**k-Nearest Neighbors**

In [21]:
from sklearn.neighbors import KNeighborsClassifier
#the paper uses 26 values of K ranging from l = 1 to |trainset|

#define model 
model = KNeighborsClassifier()
# define search space
k_range = list(range(1, 27))
space = dict()
space['weights'] = ['uniform', 'distance']
space['n_neighbors'] = k_range
#define search 
search = GridSearchCV(model, space, scoring = 'accuracy', n_jobs = -1, cv = cv)
#execute search 
result = search.fit(X_train, y_train)
# summarize result
print('Best Score: %s' % result.best_score_)
print('Best Hyperparameters: %s' % result.best_params_)
print('Best Estimator: %s' % result.best_estimator_)

Best Score: 0.31968810916179335
Best Hyperparameters: {'n_neighbors': 14, 'weights': 'uniform'}
Best Estimator: KNeighborsClassifier(n_neighbors=14)

In [22]:
# train on all of taining data and use best hyperparameters to evaluate accuracy 
# on test set
optimalmodel = result.best_estimator_
optimalmodel.fit(X_train, y_train)
y_predict = optimalmodel.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_predict)
print('accuracy on test set: %s' % accuracy)

accuracy on test set: 0.39655172413793105

# **Random Forest**:

In [23]:
from sklearn.ensemble import RandomForestClassifier
# the paper uses 1024 trees, & the size of the feature set considered for each 
# split is 1,2,4,5,8,12,16, & 20. 

#define model 
model = RandomForestClassifier()
#define search space
max_features = [1, 2, 4, 5, 8, 12, 16, 20]
space = dict()
space['n_estimators'] = [1024]
space['criterion'] = ['gini']
space['max_features'] = max_features
#define search:
search = GridSearchCV(model, space, scoring = 'accuracy', n_jobs = -1, cv = cv)
#execute search
result = search.fit(X_train, y_train)
#summarize result
print('Best Score: %s' % result.best_score_)
print('Best Hyperparameters: %s' % result.best_params_)
print('Best Estimator: %s' % result.best_estimator_)

Best Score: 0.2943469785575049
Best Hyperparameters: {'criterion': 'gini', 'max_features': 4, 'n_estimators': 1024}
Best Estimator: RandomForestClassifier(max_features=4, n_estimators=1024)

In [24]:
optimalmodel = result.best_estimator_
optimalmodel.fit(X_train, y_train)
y_predict = optimalmodel.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_predict)
print('accuracy on test set: %s' % accuracy)

accuracy on test set: 0.3275862068965517

# ** SVM: **

In [29]:
from sklearn import model_selection
from sklearn import svm

# define search space
model = svm.SVC()
# define search space
space = dict()
space['C'] = [0.001, 0.01, 0.1, 1, 10, 100]
space['gamma'] = [0.0001, 0.001, 0.01, 0.1]
space['kernel'] = ['rbf', 'linear']
#define search:
search = GridSearchCV(model, space, scoring = 'accuracy', n_jobs = -1, cv = cv)
#execute search
result = search.fit(X_train, y_train)
#summarize result
print('Best Score: %s' % result.best_score_)
print('Best Hyperparameters: %s' % result.best_params_)
print('Best Estimator: %s' % result.best_estimator_)

Best Score: 0.3235867446393762
Best Hyperparameters: {'C': 1, 'gamma': 0.0001, 'kernel': 'linear'}
Best Estimator: SVC(C=1, gamma=0.0001, kernel='linear')

In [30]:
optimalmodel = result.best_estimator_
optimalmodel.fit(X_train, y_train)
y_predict = optimalmodel.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_predict)
print('accuracy on test set: %s' % accuracy)

accuracy on test set: 0.3620689655172414