<a href="https://colab.research.google.com/github/AndrewH707/TumorClassification/blob/main/PrimaryTumorAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy.stats import ttest_ind

In [58]:
data = pd.read_csv('https://raw.githubusercontent.com/AndrewH707/TumorClassification/main/ML_Tumor_Accuracy.csv')
data

   Logistic Regression Train   Logistic Regression Test  ...   SVM Train   SVM Test
0                   0.414597                   0.490196  ...    0.370414    0.431373
1                   0.375120                   0.431373  ...    0.359434    0.450980
2                   0.401351                   0.411765  ...    0.401264    0.490196
3                   0.451503                   0.411765  ...    0.368584    0.450980
4                   0.375163                   0.392157  ...    0.383922    0.509804
5                   0.399085                   0.352941  ...    0.377168    0.490196
6                   0.387930                   0.470588  ...    0.388192    0.411765
7                   0.412070                   0.392157  ...    0.401525    0.352941
8                   0.383747                   0.431373  ...    0.416340    0.470588
9                   0.412288                   0.490196  ...    0.377168    0.470588

[10 rows x 8 columns]

In [59]:
data = data.to_numpy()
print("Data Frame Shape: ", data.shape)
print("Data: " + "\n")
# first column belongs to Column "Logistic Regression Train"

Data Frame Shape:  (10, 8)
Data:

In [60]:
# Mean Training Set Performance
training = data[:, [0, 2, 4, 6]]
print("Training Data", training.shape)
mean_training = np.mean(training, axis = 0)
mean_training = pd.DataFrame(mean_training, index = ['Log', 'K-NN', 'RF', 'SVM'], columns=["Mean Training Accuracy"])
mean_training

Training Data (10, 4)

      Mean Training Accuracy
Log                 0.401285
K-NN                0.354998
RF                  0.396562
SVM                 0.384401

In [61]:
# Mean Test Set Performance
test = data[:, [1, 3, 5, 7]]
print("Training Data", training.shape)
mean_test = np.mean(test, axis = 0)
mean_test = pd.DataFrame(mean_test, index = ['Log', 'K-NN', 'RF', 'SVM'], columns=["Mean Test Accuracy"])
mean_test

Training Data (10, 4)

      Mean Test Accuracy
Log             0.427451
K-NN            0.396078
RF              0.409804
SVM             0.452941

In [62]:
# Lets do a t-test for training 
# perform ttest to compare algorithm performance per dataset
training_logvsKnn = ttest_ind(data[:, 0], data[:, 2], equal_var = False)[1]
training_logvsRF = ttest_ind(data[:,0], data[:, 4], equal_var = False )[1]
training_logvsSVM = ttest_ind(data[:,0], data[:, 6])[1]
training_KnnvsSVM = ttest_ind(data[:, 2], data[:, 6])[1]
training_KnnvsRF = ttest_ind(data[:, 2], data[:, 4])[1]
training_RFvsSVM = ttest_ind(data[:, 4], data[:, 6])[1]
training_p_value = np.array([training_logvsKnn, training_logvsRF, training_logvsSVM, training_KnnvsSVM, training_KnnvsRF, training_RFvsSVM])

ptable = pd.DataFrame({'Training': training_p_value}, index = ['Log. vs K-NN', "Log vs RF", 'Log vs SVM', 'K-NN vs SVM', 'K-NN vs RF', 'RF vs SVM'])
print("\033[1m" + "p-vlaues: t-test on test-set performance across 3 trials per dataset" + "\033[0m")
ptable

p-vlaues: t-test on test-set performance across 3 trials per dataset

              Training
Log. vs K-NN  0.000134
Log vs RF     0.623803
Log vs SVM    0.082351
K-NN vs SVM   0.002203
K-NN vs RF    0.000126
RF vs SVM     0.155125

In [63]:
# Lets do a t-test for test accuracy
# perform ttest to compare algorithm performance per dataset
test_logvsKnn = ttest_ind(data[:, 1], data[:, 3], equal_var = False)[1]
test_logvsRF = ttest_ind(data[:,1], data[:, 5], equal_var = False )[1]
test_logvsSVM = ttest_ind(data[:,1], data[:, 7])[1]
test_KnnvsSVM = ttest_ind(data[:, 3], data[:, 7])[1]
test_KnnvsRF = ttest_ind(data[:, 3], data[:, 5])[1]
test_RFvsSVM = ttest_ind(data[:, 5], data[:, 7])[1]
test_p_value = np.array([test_logvsKnn, test_logvsRF, test_logvsSVM, test_KnnvsSVM, test_KnnvsRF, test_RFvsSVM])

print(training_logvsKnn)
ptable = pd.DataFrame({'Training': test_p_value}, index = ['Log. vs K-NN', "Log vs RF", 'Log vs SVM', 'K-NN vs SVM', 'K-NN vs RF', 'RF vs SVM'])
print("\033[1m" + "p-vlaues: t-test on test-set performance across 3 trials per dataset" + "\033[0m")
ptable

0.0001337477273917804
p-vlaues: t-test on test-set performance across 3 trials per dataset

              Training
Log. vs K-NN  0.182074
Log vs RF     0.443430
Log vs SVM    0.225368
K-NN vs SVM   0.022020
K-NN vs RF    0.584853
RF vs SVM     0.072631

In [66]:
# Print annotated mean test set performance
mean_test.to_csv('MeanTest.csv')