<a href="https://colab.research.google.com/github/AndrewH707/TumorClassification/blob/main/PrimaryTumor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/AndrewH707/BrainTumorDetection/main/primary-tumor.csv'
data = pd.read_csv(url)
print("The size of the data is: ", data.shape)
data.head()

The size of the data is:  (309, 18)

     age     sex histologic-type  ... mediastinum  abdominal   class
0   >=60  female             NaN  ...       False      False    lung
1   >=60    male             NaN  ...        True      False    lung
2  30-59  female        adefalse  ...       False      False  breast
3  30-59  female        adefalse  ...       False      False   ovary
4  30-59  female        adefalse  ...       False      False   ovary

[5 rows x 18 columns]

# Balanced or Imbalanced target class

In [ ]:
target = data.values[:, -1]
counter  = Counter(target)
for k, v in counter.items():
  per = v/ len(target) *100
  print('Class = %s, Count =%d, Percentage = %.3f%%' % (k, v, per))

Class = lung, Count =81, Percentage = 26.214%
Class = breast, Count =18, Percentage = 5.825%
Class = ovary, Count =19, Percentage = 6.149%
Class = colon, Count =14, Percentage = 4.531%
Class = prostate, Count =8, Percentage = 2.589%
Class = head and neck, Count =14, Percentage = 4.531%
Class = thyroid, Count =14, Percentage = 4.531%
Class = pancreas, Count =28, Percentage = 9.061%
Class = liver, Count =7, Percentage = 2.265%
Class = kidney, Count =23, Percentage = 7.443%
Class = salivary glands, Count =2, Percentage = 0.647%
Class = rectum, Count =6, Percentage = 1.942%
Class = gallbladder, Count =15, Percentage = 4.854%
Class = stomach, Count =38, Percentage = 12.298%
Class = esophagus, Count =9, Percentage = 2.913%
Class = corpus uteri, Count =6, Percentage = 1.942%
Class = testis, Count =1, Percentage = 0.324%
Class = cervix uteri, Count =2, Percentage = 0.647%
Class = duoden and sm.int, Count =1, Percentage = 0.324%
Class = bladder, Count =2, Percentage = 0.647%
Class = vagina, Count =1, Percentage = 0.324%

# Missing Values

In [ ]:
print("The total amount of missing values is: ", data.isnull().sum().sum())
# now we'll iterate through the columns..
names = data.columns.to_list()
print(names)
for name in names:
  numna = data[name].isnull().sum().sum() 
  print("Column, ", name, "has ", numna, " missing values")

The total amount of missing values is:  207
['age', 'sex', 'histologic-type', 'degree-of-diffe', 'bone', 'bone-marrow', 'lung', 'pleura', 'peritoneum', 'liver', 'brain', 'skin', 'neck', 'supraclavicular', 'axillar', 'mediastinum', 'abdominal', 'class']
Column,  age has  0  missing values
Column,  sex has  1  missing values
Column,  histologic-type has  65  missing values
Column,  degree-of-diffe has  139  missing values
Column,  bone has  0  missing values
Column,  bone-marrow has  0  missing values
Column,  lung has  0  missing values
Column,  pleura has  0  missing values
Column,  peritoneum has  0  missing values
Column,  liver has  0  missing values
Column,  brain has  0  missing values
Column,  skin has  1  missing values
Column,  neck has  0  missing values
Column,  supraclavicular has  0  missing values
Column,  axillar has  1  missing values
Column,  mediastinum has  0  missing values
Column,  abdominal has  0  missing values
Column,  class has  0  missing values

In [ ]:
column = data['degree-of-diffe'].fillna('base') #instead of dropping na, we can fill with a base
data['degree-of-diffe'] = column
data.head()

     age     sex histologic-type  ... mediastinum  abdominal   class
0   >=60  female             NaN  ...       False      False    lung
1   >=60    male             NaN  ...        True      False    lung
2  30-59  female        adefalse  ...       False      False  breast
3  30-59  female        adefalse  ...       False      False   ovary
4  30-59  female        adefalse  ...       False      False   ovary

[5 rows x 18 columns]

In [ ]:
data = data.dropna()
print("Current Shape of the data: ", data.shape)
target = data.values[:, -1]
counter  = Counter(target)
for k, v in counter.items():
  per = v/ len(target) *100
  print('Class = %s, Count =%d, Percentage = %.3f%%' % (k, v, per))

Current Shape of the data:  (242, 18)
Class = breast, Count =17, Percentage = 7.025%
Class = ovary, Count =17, Percentage = 7.025%
Class = colon, Count =13, Percentage = 5.372%
Class = prostate, Count =8, Percentage = 3.306%
Class = lung, Count =43, Percentage = 17.769%
Class = head and neck, Count =10, Percentage = 4.132%
Class = pancreas, Count =26, Percentage = 10.744%
Class = liver, Count =7, Percentage = 2.893%
Class = kidney, Count =20, Percentage = 8.264%
Class = salivary glands, Count =2, Percentage = 0.826%
Class = rectum, Count =6, Percentage = 2.479%
Class = gallbladder, Count =14, Percentage = 5.785%
Class = stomach, Count =33, Percentage = 13.636%
Class = thyroid, Count =10, Percentage = 4.132%
Class = esophagus, Count =5, Percentage = 2.066%
Class = corpus uteri, Count =6, Percentage = 2.479%
Class = testis, Count =1, Percentage = 0.413%
Class = cervix uteri, Count =2, Percentage = 0.826%
Class = duoden and sm.int, Count =1, Percentage = 0.413%
Class = vagina, Count =1, Percentage = 0.413%

In [ ]:
X, y = data.drop('class', axis = 1), data['class']
print(X.shape, y.shape) #shapes of our inputs and outputs]
X.head()

(242, 17) (242,)

     age     sex histologic-type  ... axillar  mediastinum  abdominal
2  30-59  female        adefalse  ...    True        False      False
3  30-59  female        adefalse  ...   False        False      False
4  30-59  female        adefalse  ...   False        False      False
5  30-59    male        adefalse  ...   False        False      False
6  30-59    male        adefalse  ...   False        False      False

[5 rows x 17 columns]

In [ ]:
# find indicies of True/False Values we want to transform
bools = X.select_dtypes(include = ['bool', 'object']).columns
bools = bools.delete((0, 1, 2, 3)) #delete indicies of columns that aren't in True/False Format
print(bools)

for i in bools:
  temp = X[i].astype(int)
  X[i] = temp

print(X)

Index(['bone', 'bone-marrow', 'lung', 'pleura', 'peritoneum', 'liver', 'brain',
       'skin', 'neck', 'supraclavicular', 'axillar', 'mediastinum',
       'abdominal'],
      dtype='object')
       age     sex histologic-type  ... axillar  mediastinum  abdominal
2    30-59  female        adefalse  ...       1            0          0
3    30-59  female        adefalse  ...       0            0          0
4    30-59  female        adefalse  ...       0            0          0
5    30-59    male        adefalse  ...       0            0          0
6    30-59    male        adefalse  ...       0            0          0
..     ...     ...             ...  ...     ...          ...        ...
303   >=60  female        adefalse  ...       0            0          1
305  30-59    male        adefalse  ...       0            1          0
306  30-59    male      epidermoid  ...       1            0          0
307  30-59  female        adefalse  ...       0            0          0
308  30-59  female        adefalse  ...       0            0          1

[242 rows x 17 columns]

In [ ]:
# ordinal encoding for age, meaning we care about the ordering of the labels
columns = X.columns.to_list()
X = X.to_numpy()
j = 0 #iterate through first column
for i in range(0, X.shape[0], 1):
  if X[i, j] == '<30':
    X[i, j] = 0
  elif X[i, j] == '30-59':
    X[i, j] = 1
  elif X[i, j] == '>=60':
    X[i, j] = 2
  else:
    print('error', i, X[i, j]) #for debugging...
print(X[0:5, :])

[[1 'female' 'adefalse' 'base' 0 0 0 1 0 0 0 1 0 0 1 0 0]
 [1 'female' 'adefalse' 'base' 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [1 'female' 'adefalse' 'base' 0 0 0 1 1 0 0 0 0 0 0 0 0]
 [1 'male' 'adefalse' 'base' 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [1 'male' 'adefalse' 'base' 1 0 0 0 0 0 0 0 0 0 0 0 0]]

In [ ]:
# we'll do a simple 1/0 encoding for male, female, while checking capitalization
j = 1
for i in range(0, X.shape[0], 1):
  if X[i, j].lower() == 'female':
    X[i, j] = 0
  elif X[i, j].lower() == 'male':
    X[i, j] = 1
  else:
    print('error', i, X[i, j])
X = pd.DataFrame(X, columns = columns)
X

    age sex histologic-type  ... axillar mediastinum abdominal
0     1   0        adefalse  ...       1           0         0
1     1   0        adefalse  ...       0           0         0
2     1   0        adefalse  ...       0           0         0
3     1   1        adefalse  ...       0           0         0
4     1   1        adefalse  ...       0           0         0
..   ..  ..             ...  ...     ...         ...       ...
237   2   0        adefalse  ...       0           0         1
238   1   1        adefalse  ...       0           1         0
239   1   1      epidermoid  ...       1           0         0
240   1   0        adefalse  ...       0           0         0
241   1   0        adefalse  ...       0           0         1

[242 rows x 17 columns]

In [ ]:
#import our transformsers 
from sklearn.preprocessing import LabelBinarizer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

t = [('one_hot', OneHotEncoder(), [2, 3])]
col_transformer = ColumnTransformer(transformers=t, remainder = 'passthrough')
X = col_transformer.fit_transform(X)
X

array([[1.0, 0.0, 0.0, ..., 1, 0, 0],
       [1.0, 0.0, 0.0, ..., 0, 0, 0],
       [1.0, 0.0, 0.0, ..., 0, 0, 0],
       ...,
       [0.0, 0.0, 1.0, ..., 1, 0, 0],
       [1.0, 0.0, 0.0, ..., 0, 0, 0],
       [1.0, 0.0, 0.0, ..., 0, 0, 1]], dtype=object)

In [ ]:
# transform our outputs 
from sklearn.preprocessing import LabelEncoder

y = LabelEncoder().fit_transform(y)
y

array([ 0, 11, 11,  2, 13, 10, 13, 11,  7, 12, 10,  7, 10,  9, 10, 11,  8,
       10, 15,  0, 14, 12, 10, 12, 13,  6,  0,  0,  6, 16, 16, 10, 18, 12,
       12, 12, 12, 11, 16,  6, 18,  0, 16,  5,  0,  3, 14, 16, 13, 10, 18,
        0, 12,  8,  8, 12, 10, 11, 10, 17, 10,  7, 10, 18,  7, 11, 10, 10,
       16, 10,  8,  1, 16,  8,  6, 16, 16,  0, 18, 14,  9, 10, 16,  7, 11,
        9, 10, 16, 16,  0, 16,  7, 12, 10, 11, 16,  0, 11, 16,  0,  8,  0,
       14, 16,  5,  5, 16,  0, 10, 10, 10,  8, 10,  6, 16,  9, 12,  6,  3,
       12,  2, 13, 18, 10, 13, 12, 12,  0,  2, 12,  8, 16, 10, 16,  6,  2,
        0, 10,  2, 12, 12,  8,  2, 10, 11, 10,  8,  3, 16, 12,  8, 10, 13,
        6,  8,  9,  2,  2, 16,  8,  5, 12, 10, 10,  3, 10,  8, 11, 16, 16,
       16, 18,  0, 18,  6, 15,  6, 12,  4,  7,  9,  2, 12, 16, 14, 16, 12,
       12,  5, 10,  3, 12, 16, 10,  6,  2, 16, 12,  7, 14, 16,  2, 10,  8,
       10, 11,  0,  8, 10,  8,  8, 10, 10,  1, 18, 11, 16, 10, 10, 11,  9,
       11, 18,  7,  2, 19, 10,  7,  8, 10,  6, 12, 16,  2, 16,  6,  8,  3,
       13, 10, 11,  6])

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
import random

r = random.seed()
X_train, X_test, y_train, y_test = train_test_split(X, y)

# define the cross valdiator that will be used uniformly across all classifiers
# for each trial
cv = RepeatedKFold(n_splits = 5, n_repeats = 3)

# **Logistic Regression**

In [ ]:
# Import library for our grid search
from sklearn.model_selection import GridSearchCV
#Import library for evalating the model 
from sklearn import metrics

In [ ]:
from sklearn.linear_model import LogisticRegression

#define model
model = LogisticRegression()
#define search space
space = dict()
space['solver'] = ['newton-cg', 'lbfgs', 'liblinear']
space['penalty'] = ['none', 'l1', 'l2']
space['C'] = [1e-8, 1e-7, 1e-6, 1e-5, 1e-4, 1e-3, 1e-2, 1e-1, 1e0, 1e1, 1e2, 1e3, 1e4]
#define search
search = GridSearchCV(model, space, scoring = 'accuracy', n_jobs = -1, cv= cv)
# execute search
result = search.fit(X_train, y_train)
results = search.return_train_score
# summarize result
print('Best Score: %s' % result.best_score_)
print('Best Hyperparameters: %s' % result.best_params_)
print('Best Estimator: %s' % result.best_estimator_)

Best Score: 0.35055055055055057
Best Hyperparameters: {'C': 1.0, 'penalty': 'l2', 'solver': 'liblinear'}
Best Estimator: LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# train on all of taining data and use best hyperparameters to evaluate accuracy 
# on test set
optimalmodel = result.best_estimator_
optimalmodel.fit(X_train, y_train)
y_predict = optimalmodel.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_predict)
print('accuracy on test set: %s' % accuracy)

accuracy on test set: 0.4098360655737705

#**k-Nearest Neighbors**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
#the paper uses 26 values of K ranging from l = 1 to |trainset|

#define model 
model = KNeighborsClassifier()
# define search space
k_range = list(range(1, 27))
space = dict()
space['weights'] = ['uniform', 'distance']
space['n_neighbors'] = k_range
#define search 
search = GridSearchCV(model, space, scoring = 'accuracy', n_jobs = -1, cv = cv)
#execute search 
result = search.fit(X_train, y_train)
# summarize result
print('Best Score: %s' % result.best_score_)
print('Best Hyperparameters: %s' % result.best_params_)
print('Best Estimator: %s' % result.best_estimator_)

Best Score: 0.32977977977977974
Best Hyperparameters: {'n_neighbors': 10, 'weights': 'uniform'}
Best Estimator: KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [ ]:
# train on all of taining data and use best hyperparameters to evaluate accuracy 
# on test set
optimalmodel = result.best_estimator_
optimalmodel.fit(X_train, y_train)
y_predict = optimalmodel.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_predict)
print('accuracy on test set: %s' % accuracy)

accuracy on test set: 0.39344262295081966

# **Random Forest**:

In [ ]:
from sklearn.ensemble import RandomForestClassifier
# the paper uses 1024 trees, & the size of the feature set considered for each 
# split is 1,2,4,5,8,12,16, & 20. 

#define model 
model = RandomForestClassifier()
#define search space
max_features = [1, 2, 4, 5, 8, 12, 16, 20]
space = dict()
space['n_estimators'] = [1024]
space['criterion'] = ['gini']
space['max_features'] = max_features
#define search:
search = GridSearchCV(model, space, scoring = 'accuracy', n_jobs = -1, cv = cv)
#execute search
result = search.fit(X_train, y_train)
#summarize result
print('Best Score: %s' % result.best_score_)
print('Best Hyperparameters: %s' % result.best_params_)
print('Best Estimator: %s' % result.best_estimator_)

Best Score: 0.2702702702702703
Best Hyperparameters: {'criterion': 'gini', 'max_features': 1, 'n_estimators': 1024}
Best Estimator: RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=1,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1024,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
optimalmodel = result.best_estimator_
optimalmodel.fit(X_train, y_train)
y_predict = optimalmodel.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_predict)
print('accuracy on test set: %s' % accuracy)

accuracy on test set: 0.3442622950819672