<a href="https://colab.research.google.com/github/AndrewH707/TumorClassification/blob/main/PrimaryTumor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/AndrewH707/BrainTumorDetection/main/primary-tumor.csv'
data = pd.read_csv(url)
print("The size of the data is: ", data.shape)
data.head()

The size of the data is:  (309, 18)

     age     sex histologic-type  ... mediastinum  abdominal   class
0   >=60  female             NaN  ...       False      False    lung
1   >=60    male             NaN  ...        True      False    lung
2  30-59  female        adefalse  ...       False      False  breast
3  30-59  female        adefalse  ...       False      False   ovary
4  30-59  female        adefalse  ...       False      False   ovary

[5 rows x 18 columns]

# Balanced or Imbalanced target c
lass?

In [ ]:
target = data.values[:, -1]
counter  = Counter(target)
for k, v in counter.items():
  per = v/ len(target) *100
  print('Class = %s, Count =%d, Percentage = %.3f%%' % (k, v, per))

Class = lung, Count =81, Percentage = 26.214%
Class = breast, Count =18, Percentage = 5.825%
Class = ovary, Count =19, Percentage = 6.149%
Class = colon, Count =14, Percentage = 4.531%
Class = prostate, Count =8, Percentage = 2.589%
Class = head and neck, Count =14, Percentage = 4.531%
Class = thyroid, Count =14, Percentage = 4.531%
Class = pancreas, Count =28, Percentage = 9.061%
Class = liver, Count =7, Percentage = 2.265%
Class = kidney, Count =23, Percentage = 7.443%
Class = salivary glands, Count =2, Percentage = 0.647%
Class = rectum, Count =6, Percentage = 1.942%
Class = gallbladder, Count =15, Percentage = 4.854%
Class = stomach, Count =38, Percentage = 12.298%
Class = esophagus, Count =9, Percentage = 2.913%
Class = corpus uteri, Count =6, Percentage = 1.942%
Class = testis, Count =1, Percentage = 0.324%
Class = cervix uteri, Count =2, Percentage = 0.647%
Class = duoden and sm.int, Count =1, Percentage = 0.324%
Class = bladder, Count =2, Percentage = 0.647%
Class = vagina, Count =1, Percentage = 0.324%

# Missing Values

In [ ]:
print("The total amount of missing values is: ", data.isnull().sum().sum())
# now we'll iterate through the columns..
names = data.columns.to_list()
print(names)
for name in names:
  numna = data[name].isnull().sum().sum() 
  print("Column, ", name, "has ", numna, " missing values")

The total amount of missing values is:  207
['age', 'sex', 'histologic-type', 'degree-of-diffe', 'bone', 'bone-marrow', 'lung', 'pleura', 'peritoneum', 'liver', 'brain', 'skin', 'neck', 'supraclavicular', 'axillar', 'mediastinum', 'abdominal', 'class']
Column,  age has  0  missing values
Column,  sex has  1  missing values
Column,  histologic-type has  65  missing values
Column,  degree-of-diffe has  139  missing values
Column,  bone has  0  missing values
Column,  bone-marrow has  0  missing values
Column,  lung has  0  missing values
Column,  pleura has  0  missing values
Column,  peritoneum has  0  missing values
Column,  liver has  0  missing values
Column,  brain has  0  missing values
Column,  skin has  1  missing values
Column,  neck has  0  missing values
Column,  supraclavicular has  0  missing values
Column,  axillar has  1  missing values
Column,  mediastinum has  0  missing values
Column,  abdominal has  0  missing values
Column,  class has  0  missing values

In [ ]:
column = data['degree-of-diffe'].fillna('base') #instead of dropping na, we can fill with a base
data['degree-of-diffe'] = column
data.head()

     age     sex histologic-type  ... mediastinum  abdominal   class
0   >=60  female             NaN  ...       False      False    lung
1   >=60    male             NaN  ...        True      False    lung
2  30-59  female        adefalse  ...       False      False  breast
3  30-59  female        adefalse  ...       False      False   ovary
4  30-59  female        adefalse  ...       False      False   ovary

[5 rows x 18 columns]

In [ ]:
data = data.dropna()
print("Current Shape of the data: ", data.shape)

Current Shape of the data:  (242, 18)

In [ ]:
X, y = data.drop('class', axis = 1), data['class']
X.shape, y.shape #shapes of our inputs and outputs

((242, 17), (242,))

In [ ]:
hist = X.columns.get_loc('histologic-type')
deg = X.columns.get_loc('degree-of-diffe')
one_hot = [hist, deg]

(2, 3)